body {
    font-family: 'Lato', sans-serif;
    padding-bottom: 45px;
}
.jumbotron {
  padding: 30px;
  text-align: center;
  margin-top: 30px;
}
.jumbotron h1 {
  font-size: 40px;
  margin: 0;
}
label {
  margin-bottom: 0;
}
small {
  color: #999999;
  font-weight: 400;
}
.checkbox, .radio {
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}
.checkbox:last-child, .radio:last-child {
    margin-bottom: 20px;
}