body {
    font-family: 'Lato', sans-serif;
    background-color: #215968;
    color: #FFF;
}

legend {
    color: #FFF;
}

form > fieldset > legend {
    font-size: 2em;
}

form > fieldset > fieldset > legend {
    font-size: 1.5em;
}

legend > small {
    font-size: 60%;
}

small {
    font-weight: normal;
    color: #b5dde8;
}

.checkbox, .radio {
    margin-left: 20px;
}

h1 {
    margin-bottom: 50px;
}

h1 img {
    width: 200px;
}
